<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <h1><u>Blog - Index</u></h1>
    <table>
        <tr>
            <th class='col-md-1'>id</th>
            <th class='col-md-2'>Name</th>
            <th class='col-md-3'>Description</th>
        </tr>
    {% for blog in blogs %}
        <tr>
            <th class='col-md-1'>{{ blog.id }}</th>
            <th class='col-md-2'>{{ blog.name }}</th>
            <th class='col-md-3'>{{ blog.desc }}</th>
        </tr>
    {% endfor %}
    </table>
</body>
</html>